@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="navigation">
    <a href="/Home/Page1">Страница 1</a>
    <a href="/Home/Page2">Страница 2</a>
</div>
